.location{
	background-color: #660000;
     color: white;
     padding: 12px 18px;
     
     cursor: pointer;
     font-size: large;
     width: 95%;
     
     border:2px solid black;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px; 
    text-align: center;

}
body{
	color : black ;
	background-color: rgb(245,133,133);
}
 body,
 html {
     height: 100%;
     margin bottom: 50px;
 }
 body {
	font-family: montserrat;
	 
	}
	.logo{  
		position: absolute;
		left: 4%;
		top: 5px;
		z-index: 1;
	  height: 70px;
	  width: 70px;
	}
	.navbar{
		background-color:rgb(247, 19, 68);
		display: flex;
		position: -webkit-sticky;
		position: sticky;
		top: 0px;
		overflow: hidden;
		z-index: 1;
		margin: 0;
		padding: 0;
		height: 80px;
		width: 100%;
		bottom: 0;
	   
		border-radius: 15px;
		font-family: 'Rajdhani', sans-serif;
	}
	.bg
	{
		margin-top: 300px;
		margin-left: 150px;
	}
	
	.navbar a{
	   color: white;
   margin-inline: 1%;
   text-decoration: none;
 }
 .navbar h3:hover{
   box-shadow: 0 0 10px #fff;
   border-radius: 8px;
   enable-background: 0px;
   height:25px;
   transition: 50ms;
   margin-top: 19px;
   margin-right: 10px;
 }
.footer
   {
    padding: 30px;
    margin-inline: 20px;
    background-image: linear-gradient(rgb(248, 209, 209), rgb(247, 190, 190));
    display:inline-block;
    font-size: 30px;
    text-align: center;
    height: 80px;
    width: 90%;
    margin-left: 23px;
    border-radius: 15px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}
body{
	color : black ;
	background-color: rgb(245,133,133);
  font-family: montserrat;
}