body {
    font-family: montserrat;
     
    }
    .logo{  
        position: absolute;
        left: 4%;
        top: 5px;
        z-index: 1;
      height: 70px;
      width: 70px;
    }
    .navbar{
        background-color:rgb(247, 19, 68);
        display: flex;
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        overflow: hidden;
        z-index: 1;
        margin: 0;
        padding: 0;
        height: 80px;
        width: 100%;
        bottom: 0;
       
        border-radius: 15px;
        font-family: 'Rajdhani', sans-serif;
    }
    .footer
   {
    padding: 30px;
    margin-inline: 20px;
    
    background-image: linear-gradient(rgb(248, 209, 209), rgb(247, 190, 190));
    display:inline-block;
    font-size: 30px;
    text-align: center;
    height: 80px;
    width: 100%;
    border-radius: 15px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}
    .navbar a{
       color: white;
   margin-inline: 1%;
   text-decoration: none;
 }
 .navbar h3:hover{
   box-shadow: 0 0 10px #fff;
   border-radius: 8px;
   enable-background: 0px;
   height:25px;
   transition: 50ms;
   margin-top: 19px;
   margin-right: 10px;
 }
.bgimg
    { 
     position: relative;  
    /* The image used */
    background-image: url("https://image.freepik.com/free-vector/people_24908-54449.jpg");
    /* height and width*/
    height: 100%;
    width: 20%;
    margin-left: 120px;
    /* Center and scale the image nicely */
    object-fit: cover;
    border-radius: 20px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    }

 /* editing the box of members names */
 .a1{ 
        color: rgb(17, 20, 22);
        font-size: 35px;
        background-image: linear-gradient(rgb(247, 246, 242), rgb(253, 107, 107));
       text-align: left;
        /* margin adding */
       margin-top: 3%;
       margin-left: 10%;
       margin-right: 10%;
        /* box and borders */
       border: 0.1px solid;
       box-shadow: 3px 3px rgb(16, 20, 24);
       justify-content: space-evenly;
       }

/* pseudoclass */
p:hover{
    text-shadow: 0.5px 0.5px 1px ;
    transition: 20ms;
    }

 /* contact details logo */
 
.ima{
    height: 50px;
    border-radius: 60%;
    width: 50px;
    margin-right: 15px;
    }

    @media screen and (max-width: 600px) {
        .a1  a{
            display: inline-block;
          
          width: 100%;
        }

        .bgimg {
           display: inline-block;
          
            width: 50%;
            height: 50%;
                  
        }
        .ima a {
           
            float: center;
            width: 100%;  
        }
        .p2  {
            display: inline;
          
          width: 100%;
        }


      }