body{
	color : black ;
	background-color: rgb(245,133,133);
}
 #heading{
 	text-align: center;
 }
  #image1,#image2, #image3,#image4{
 	display:flex;
 	border: 2px solid black;
    border-radius: 0;
    box-shadow: 0 0 10px 4px black;
 }