body{
	color : black ;
	background-color: rgb(248, 187, 187);
}
body{
	color : black ;
	background-color: rgb(253, 188, 188);
}
 body,
 html {
     height: 100%;
     margin bottom: 50px;
 }
 body {
	font-family: montserrat;
	 
	}
	.logo{  
		position: absolute;
		left: 4%;
		top: 5px;
		z-index: 1;
	  height: 70px;
	  width: 70px;
	}
	.navbar{
		background-color:rgb(252, 80, 117);
		display: flex;
		position: -webkit-sticky;
		position: sticky;
		top: 0px;
		overflow: hidden;
		z-index: 1;
		margin: 0;
		padding: 0;
		height: 80px;
		width: 100%;
		bottom: 0;
	   
		border-radius: 15px;
		font-family: 'Rajdhani', sans-serif;
	}
	.bg
	{
		margin-top: 300px;
		margin-left: 150px;
	}
	
	.navbar a{
	   color: white;
   margin-inline: 1%;
   text-decoration: none;
 }
 .navbar h3:hover{
   box-shadow: 0 0 10px #fff;
   border-radius: 8px;
   enable-background: 0px;
   height:25px;
   transition: 50ms;
   margin-top: 19px;
   margin-right: 10px;
 }
 .heading{
	text-align: center;
 }
  #image1,#image2, #image3,#image4{
	  margin-left: 14%;
 	display:flex;
 	border: 2px solid black;
    border-radius: 0;
	width: 70%;
	height: 60%;
    box-shadow: 0 0 10px 4px black;
    width:80%;
    margin-left: 10%;
 }
 .footer
   {
    padding: 30px;
    margin-inline: 20px;
    background-image: linear-gradient(rgb(248, 209, 209), rgb(240, 102, 102));
    display:inline-block;
    font-size: 30px;
    text-align: center;
    height: 80px;
    width: 90%;
    border-radius: 15px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}