body{
	color : black ;
	background-color: rgb(245,133,133);
  font-family: montserrat;
}

   .logo{  
       position: absolute;
       left: 4%;
       top: 5px;
       z-index: 1;
     height: 70px;
     width: 70px;
   }
   .footer
   {
    padding: 30px;
    margin-inline: 20px;
    background-image: linear-gradient(rgb(248, 209, 209), rgb(247, 190, 190));
    display:inline-block;
    font-size: 30px;
    text-align: center;
    height: 80px;
    width: 100%;
    border-radius: 15px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}
   .navbar{
       background-color:rgb(247, 19, 68);
       display: flex;
       position: -webkit-sticky;
       position: sticky;
       top: 0px;
       overflow: hidden;
       z-index: 1;
       margin: 0;
       padding: 0;
       height: 80px;
       width: 100%;
       bottom: 0;
      
       border-radius: 15px;
       font-family: 'Rajdhani', sans-serif;
   }
   .navbar a{
      color: white;
  margin-inline: 1%;
  text-decoration: none;
}
.navbar h3:hover{
  box-shadow: 0 0 10px #fff;
  border-radius: 8px;
  enable-background: 0px;
  height:25px;
  transition: 50ms;
  margin-top: 19px;
  margin-right: 10px;
}
 body,
 html {
     height: 100%;
     margin top: 50px;
     margin bottom : 100px;
 }
 #heading{
 	text-align: center;
 }
 .container{
	
	 font-size: 25;
     border: 3px solid #f1f1f1;
     border-radius: 5px;
     box-shadow: 0 0 9px 4px black;
     display:block;
     margin-left: 200px;
     margin-right: 200px;
    
     margin-top: 55px;
  	padding: 30px;
 	background-color: rgb(60%,40%,40%);
 }
  button {
     background-color: #660000;
     color: white;
     padding: 12px 18px;
     margin: 8px 10px 8px 10px;
     border: none;
     cursor: pointer;
     font-size: large;
     width: 95%;
     align-self: center;
 }
  button:hover {
     opacity: 0.8;
     background-color: green;
 }
   form #heading {
  	font-family: garamond,serif;
    text-align: center;
    white-space: nowrap;
 }
  input[type="text"]{
 	width: 60%;
  	padding: 15px;
 	margin: 5px 0 22px 0;
  	border-radius: 3px; 
  	background: #ffcccc;
    width:90%;
 }
 #bloodgroup{
    width: 60%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-radius: 3px; 
    background: #ffcccc;
 }